body {
    width: 250px;
}

#notify-wrapper {
    padding: 5px;
}

#notify-header h1 {
    text-align: center;
    font-size: 25px;
    background: #7d9a79;
    margin: 0;
    margin-bottom: 10px;
    padding: 8px;
}

.button {
    font-family: Roboto, system-ui, sans-serif;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #7d9a79;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    min-width: 5.14em;
    outline-width: 0;
    padding: 8px 16px;
    position: relative;
    user-select: none;
    background: white;
    margin: 10px 0 5px 10px;
}

.notify-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button:hover {
    background: #ce7173;
    border-color: 210, 227, 252;
}

.button.primary {
    background: #7d9a79;
    color: #fff;
    border-color: #7d9a79;
}

.button.primary:hover {
    background: #7d9a79;
    box-shadow: 0 1px 2px 0 #3e675d,
    0 1px 3px 1px #3e675d;
}

textarea {
    border: 2px solid #7d9a79;
    padding: 8px;
    border-radius: 4px;
    display: block;
    width: 224px;
    margin-top: 5px;
}

.notify-buttons p {
    margin: 10px 0 5px 10px;
}